@import '../../assets/stylesheets/colors.scss';

.footer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $battleship-gray;
  height: 15vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}
