@import '../../assets/stylesheets/colors.scss';

.footer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  font-size: .8rem;
  padding: 15px 0;
}
