// old
$pampas: #f7f7f2;
$beryl-green: #e4e6c3;
$battleship-gray: #899878;
$outer-space: #222725;
$woodsmoke: #121113;

// new
$conch: #CFDBD5;
$periglacial-blue: #E8EDDF;
$cream-can: #F5CB5C;
$tuatara: #242423;
$heavy-metal: #333533;
